@inherits TestContext

@code {

    [Fact]
    public void ClickingButtonShowContentTest()
    {
        // Arrange
        var cut = Render(@<BlazorSample.Pages.BuiltContent />);
        // Act 
        cut.Find("button").Click();
        // Assert 
        cut.Find("div").MarkupMatches(@<div>
            <h2>Pet Details</h2><p>Someone's best friend!</p>
            <h2>Pet Details</h2><p>Someone's best friend!</p>
            <h2>Pet Details</h2><p>Someone's best friend!</p>
            </div>);
    }
}
