@inherits TestContext
@code
{
  [Fact]
  public void HelloWorldComponentRendersCorrectly()
  {
    // Act
    var cut = Render(@<BlazorSample.Pages.ControlRender/>);

    // Assert
        cut.Find("p").MarkupMatches(@<p>Current count: 0</p>);
  }
}
